aiofiles==23.2.1
aiohttp==3.9.5
aiosignal==1.3.1
anyio==4.3.0
APScheduler==3.10.4
async-timeout==4.0.3  # Corrected to be compatible with aiohttp
attrs==23.2.0
beautifulsoup4==4.12.3
Brotli==1.1.0
certifi==2024.2.2
charset-normalizer==3.3.2
dnspython==2.6.1
frozenlist==1.4.1
h11==0.14.0
html-telegraph-poster==0.5.0
httpcore==1.0.5
httpx==0.27.0
idna==3.7
lxml[html_clean]==5.2.1
lyricsgenius==3.0.1
motor==3.3.2
multidict==6.0.5
mutagen==1.47.0
Pillow==10.3.0
psutil==5.9.8
py-tgcalls==0.9.7
pyaes==1.6.1
pycryptodomex==3.20.0
pymongo==4.7.1
Pyrogram==2.0.106
PySocks==1.7.1
python-dotenv==1.0.1
pytube==15.0.0
pytz==2024.1
requests==2.31.0
requests-toolbelt==1.0.0
screeninfo==0.8.1
six==1.17.0
sniffio==1.3.1
soupsieve==2.5
TgCrypto==1.2.5
tzdata==2024.1
tzlocal==5.2
urllib3==2.2.1
websockets==12.0
yarl==1.9.4
youtube-search-python==1.6.6
yt-dlp @ git+https://github.com/yt-dlp/yt-dlp.git@master
